.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.listTab {
  width: inherit;
  padding: 6px 4px;
  border-top-left-radius: 10px;
  background-color: #fff;
  color: #de6262 !important;
  text-align: center !important;
  font-size: 23px !important;
}

.calTab {
  width: inherit;
  padding: 6px 4px;
  background-color: #f3f0f0d8;
  border-top-right-radius: 10px;
  text-align: center !important;
  font-size: 23px !important;
  z-index: 1;
}

.calIcon {
  color: #a5a4a4c4 !important;
  z-index: 999 !important;
}

.items {
  display: flex;
  align-items: center;
  width: 80%;
  border-radius: 12px;
  font-size: 13px;
}
